*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.navbar{
    position: relative;
    width: 100%;
    height: 100%;
}
li{
    list-style-type: none;
    margin: 30px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: aqua;
}
#tiltle{
    color: white;
    position: absolute;
    top: 5px;
}
#botton1{
    border-bottom: 1px solid white;
}
#upload1{
    position: absolute;
    bottom: 10%;
    left: 50px;
    width: 150px;
    border-radius: 10px 10px 10px 10px;
}