body{
    background-color: #A7EEEE;
}
#RegisterDiv > h1{
    font-weight: bold;
}
#RegisterDiv{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 100px;
    background-image: url("https://i.pinimg.com/originals/95/fa/54/95fa543775583cad8944f0fafa9f7d73.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#inpUsername{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    width: 100%;
}
#inpPassword{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    width: 100%;
}
#release{
    position: fixed;
    bottom: 0;
    right: 0;
    color: grey;
    font-style: italic;
    padding: 3px;
}