*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
#navb{
    background-color: blue;
    box-shadow: 0px 4px 8px 8px rgba(14, 12, 12, 0.25);
    
}
.top{
    box-shadow: 0px 4px 8px 8px rgba(14, 12, 12, 0.25);
    background-color: white;
    position: relative;
    display: flex;
    
}
#main{
    position: relative;
}
#log{
    position: absolute;
    right: 10px;
    width: 100px;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid red;
}
.center{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    position: relative;
}
.progress-bar{
    width: 70%;
}
.progress{
    width: 400px;
    position: absolute;
    left: 20%;
}
#upload{
    position: absolute;
    right: 10%;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid red;
    
}
#table1{
    margin-top: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    height: 250px;
    width: 90%;
}
#newfile{
 width: 90%;
 margin-left: 20px;
 border-radius: 10px 10px 10px 10px;
 border: 1px solid red;   
 margin: 10px;
}
p{
    border-bottom: 1px solid black;
}
#table2{
    margin-top: 30px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    height: 250px;
    width: 90%;
}