

.main-menu{
    height: 750px;
}

.logo{
    width: 180px;
    margin-top: 30px;
    margin-left: 10px;
}

li{
    color: #bab4e4;
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    padding-top: 20px;
    margin-top: 15px;
    
}
li:active{
    color: #00e7b9;
}
li:hover{
    color: white;
    
    text-decoration: none;
}

hr{
    margin-left: 10px;
}

.uploadfile-left{
    margin-top: 250px;
    height: 38px;
    background-color: #6A2AFE;
    width: 150px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin-left: 40px;
    border: #6A2AFE 1px solid;
}

span{
    margin-top: 30px;
}

.logout{
    color: white;
    background-color: #00e7b9;
    border-radius: 18px;
    font-size: 15px;
    margin-top: 10px;
    border: #00e7b9 1px solid;
    height: 40px;
    
}

.content_action{
    border-radius: 10px;
    margin-top: 120px;
    border: black 3px dashed;
    height: 300px;
    margin-right: 30px;
    margin-left: 10px;
}

.footer{
    background-color: black;
    margin-top: 145px;
    height: 80px;
    margin-left: 0;
    padding-left: 0px;
    display: flex;
    
}

.footer div{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 30px;
    
}
.content_action-1{
    font-size: 25px;
    font-weight: bold;
    margin-left: 480px;
    margin-top: 130px;
}
.content_action-2{
    font-size: 15px;
    font-weight: bold;
    margin-left: 400px;
    
}

 .browser{
    background-color:#6A2AFE ;
    margin-left: 540px;
    background-color: #6A2AFE;
    width: 100px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    height: 50px;
    margin-top: 0px;
    border:#6A2AFE 1px solid ;
}



