.pnl-left{
    background-color: #1F1760;
}

.pnl-bottom{
    text-align: left;
    margin-left: 10%;
}

.pnl-balance{
    padding: 5% 5% 5% 5%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.pnl-get-premium{
    padding: 5% 5% 5% 5%;
    background-color: #1F1760;
    border: 1px solid #1F1760;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    text-align: center;
}

.pnl-used-space{
    margin-top: 1%;
    padding: 1% 1% 1% 2%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px 10px 10px 10px;
}

.pnl-icon-data{
    padding: 1% 1% 1% 1%;
    background-color: #4E13D5;
    border: 1px solid #4E13D5;
    border-radius: 10px 10px 10px 10px;
    width: 10%;
    height: 100%;
}

.pnl-form-account{
    margin-top: 2%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
}

.img-logo{
    margin: 5% 5% 5% 5%;
}

header{
    font-size: 100%;
}

section{
    padding: 1% 1% 1% 1%;
    background-color: #8BEFCB;
}

footer{
    padding: 1% 1% 1% 1%;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
}
a:visited{
    color: white;
}

.btn-logout{
    border: 1px solid #30E5C5;
    border-radius: 10px 10px 10px 10px;
    background-color: #30E5C5;
    color: white;
    height: 90%;
    width: 90%;
}
.btn-logout:hover{
    background-color: #13caa8;
}

.btn-recharge-more{
    background-color: #6A2AFE;
    border: 1px solid #6A2AFE;
    border-radius: 10px 10px 10px 10px;
    color: white;
    height: 40%;
    width: 90%;
}
.btn-recharge-more:hover{
    background-color: #4b02f5;
}

.btn-upgrade-account{
    border: 1px solid #30E5C5;
    border-radius: 10px 10px 10px 10px;
    background-color: #30E5C5;
    color: white;
    height: 40%;
    width: 90%;
}
.btn-upgrade-account:hover{
    background-color: #13caa8;
}

.btn-my-account-settings{
    margin-top: 2%;
    background-color: #1F1760;
    color: white;
    border: 1px solid #1F1760;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    width: 100%;
}
.btn-my-account-settings:hover{
    background-color: #0d0649;
}

.btn-configuration{
    margin-top: 2%;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    width: 100%;
}
.btn-configuration:hover{
    background-color: rgb(249, 249, 249);
}

.btn-save{
    background-color: #6A2AFE;
    border: 1px solid #6A2AFE;
    border-radius: 10px 10px 10px 10px;
    color: white;
    width: 100%;
    height: 100%;
}
.btn-save:hover{
    background-color: #530bfb;
}