*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    word-break: break-all;
}
#leftBar{
    /* style={{ background: '#1F1760', height: '100vh', position: 'relative' }} */
    background: #1F1760;
    position: relative;
}
#uploadDiv{
    position: absolute;
    bottom: 0;
    right: 0;
}
#uploadDiv > button{
    background-color: #6A2AFE;
    outline: none;
    border: none;
}
#buttonStyleGreen{
    background: #00e7b9;
    border-color: #00e7b9;
}
#buttonStylePurple{
    background: #6A2AFE;
    border-color: #6A2AFE;
    color: white;
}
#stickyRowHeader{
    position: sticky;
    top: 0;
    z-index: 10;
}
#stickyRowFooter{
    position: sticky;
    bottom: 0;
    z-index: 10;
}
#uploadBox{
    display: flex;
    align-content: center;
}
#uploadDrag{
    margin: auto;
    border-style: dashed;
    border-radius: 25px;
}