*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#leftBar{
    /* style={{ background: '#1F1760', height: '100vh', position: 'relative' }} */
    background: #1F1760;
    height: 100vh;
    position: relative;
}
#uploadDiv{
    position: absolute;
    bottom: 0;
    right: 0;
}
#uploadDiv > button{
    background-color: #6A2AFE;
    outline: none;
    border: none;
}
#buttonStyleGreen{
    background: #00e7b9;
    border-color: #00e7b9;
}
#buttonStylePurple{
    background: #6A2AFE;
    border-color: #6A2AFE;
    color: white;
}
#buttonStyleDarkPurple{
    background: #1F1760;
    border-color: #1F1760;
    color: white;
}
#backgroundStylePurple{
    background-image: linear-gradient(to right, #140033 0%, #290066 100%);
    /* background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); */
    background-image: linear-gradient(-225deg, #140033 0%, #140033 29%, #290066 67%, #3d0099 100%);
}
#centerAnElementInDiv{
    display: flex;
    align-items: center;
}
#myAccountSettingForm input{
    background: #E6E6FF;
    padding: 10px;
}